<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        
        <p>portfolio page!.. This pages displays company work </p>
    </body>
    {{> footer}}
</html>